body {
	margin: 0 auto;
    color: whitesmoke;
}

li {
	list-style-type: none;
	padding-right: 2em;
}

a {
	text-decoration: none;
}

nav {
	margin: 0 auto;
	display: flex;
	background: black;
	font-size: 2em;
	height: 10vh;
}

.menu {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    display: inline;
}


#navbar-left {
	display: flex;
}

#fullscreen-icon {
	position: absolute;
	right: 1em;
}

#mapid {
    /*position: relative;*/
    /*width: 100vw; */
    height: 90vh;
}


#feature-name {
    z-index: 1001;
    position: absolute; 
    top: 5%;
    left: 50%;
    display: flex;
    transform: translate(-50%, 0%);
    background: black;
    font-size: 3em;
    padding: 10px;
    border-radius: 5%;
    box-shadow: 1px 1px rgba(0,0,0,0.5);    
	/*Use 401 to be between map and controls*/
	/*Use 1001 to be atop map and controls*/
}


#mode {
    padding-right: 1em;
}


#page, #feature-total {
    padding: 0 0.5em 0 0.5em;
}

.btn-group {
    z-index: 1001;
    position: absolute; 
    bottom: 5%;
    left: 50%;
    display: flex;
    transform: translate(-50%, 0%);
	/*Use 401 to be between map and controls*/
	/*Use 1001 to be atop map and controls*/
}


#allbus {
    margin: 30px;
    padding: 30px;
    background: black;
    font-size: 3em;
    border-radius: 25%;
    box-shadow: 1px 1px rgba(0,0,0,0.5);
    color: whitesmoke;
}


#pagination {
    display: flex;
}

#mode {
    color: red;
}

@media (orientation: portrait) {
    nav {
        font-size: 1.5em;
        height: 10vh;    
    }

    #mapid {
        /*height: 95vh;*/
    }

    .sidebar .closebtn {
        padding-top: 2px;
    }

    #feature-name {
        font-size: 2em;
    }

    #allbus {
        font-size: 2em;
        margin: 20px;
        padding: 20px;
    }
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  display: inline;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding-top: 25px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  /*padding: 16px;*/
}

#state {
    color: red;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar a {font-size: 18px;}
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


details {
    /*border: 1px solid #aaa;*/
    /*border-radius: 4px;*/
    padding: 0.5em 0.5em 0;
}

summary {
    /*font-weight: bold;*/
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    /*list-style: none;*/
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    /*border-bottom: 1px solid #aaa;*/
    margin-bottom: 0.5em;
}


a:visited {
    color: blue;
}